# Ignore all compiled .lisp files ('fasl' stands for fast loading).
*.fasl

# manual.texi is updated on every commit. Changes are already committed in
# manual.html.
/assets/reference/manual.texi

# Ignore all HTML files. manual.html and project-isidore-doc.html contain
# duplicates of the source code.
/assets/reference/manual.html
/assets/blog/project-isidore-doc.html