# These static assets are generated upon app startup
/assets/index.css
/assets/index.js
/assets/global.css
# Ignore all compiled files
*.fasl
# Electron generated
lispapp.exe
/node_modules/
package-lock.json
/project-isidore-linux-x64/